/** Global class **/
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
  }
.padding-0{
    padding-right:0;
    padding-left:0;
}
.pd-top-ct{
    padding-top: 80px;
}
.pd-bot-ct{
    padding-bottom: 80px;
}
/** image about **/

/*** HEADER ***/
.navbar {
    padding: 0px;
}
.bg-navbar{
    background-color: #333355;
}
.navbar-main-container .navbar-brand, .navbar-nav li a{
    color: #fff !important;
    height: 80px;
}

.navbar-main-container.fixed .navbar-brand, .navbar-nav li a {
    height: 60px;
}
.navbar .navbar-collapse {
    text-align: center;
}

.navbar-main-container .navbar .navbar-brand .logo {height: 125px; transition: all 0.3s ease;background-color: #fff; top: 0px;}
.navbar-main-container.fixed .navbar .navbar-brand .logo{height: 60px;background-color: #fff;position: absolute;left:0px;top:0px; }
.navbar-main-container.fixed { top: 0; left: 0; right: 0;}
.navbar-main-container.fixed #con-tel .contact span { display: none;}
.navbar-main-container.fixed #con-tel .contact a::before {top: 15%; left: 48%;transform: translate(-50%,-50%);}
.navbar-main-container.fixed #con-tel .tel { width: 210px;}
.navbar-main-container.fixed #con-tel .tel a { height: 60px; background-position: 11px 50%; background: url(../image/logo/hdr-tel_small.png) 17px 50% no-repeat;    padding: 14px 0 0 62px;}
.navbar-main-container.fixed #con-tel .tel .number { font-size: 18px;}
.navbar-main-container.fixed #con-tel .tel .label-tel { font-size: 12px;}
.navbar-main-container.fixed .dropdown-menu{ margin :-0.1rem 0 0; }

.nav-link {
    color: #fff !important;
    font-size: 12px;
}
/**contact **/
.contact{
    position: relative;
    margin-top: 15px;
}
.contact a::before {
    content: "\f003";
    position: absolute;
    top: -20px;
    left: 50%;
    font-family: Fontawesome;
    font-size: 23px;
    transform: translateX(-50%);
}
/** tel **/
.tel{
    width: 260px;
}
.tel .number {
    display: block;
    margin: 8px 0 0;
    font-size: 22px;
    font-weight: bold;
    color : #fff;
}
.tel .label-tel {
    font-size: 14px;
    color : #fff;
}
.contact a {
    display: block;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}
#con-tel{
    position:absolute;
    top:0;
    right:0;
}
#con-tel .tel a {
	display: block;
	box-sizing: border-box;
	height: 80px;
	padding: 18px 0 0 82px;
	background: url(../image/logo/hdr-tel.png) 17px 50% no-repeat;
	color: #fff;
	line-height: 1;
	text-decoration: none;
	pointer-events: none;
	transition: .3s;
}
/** body service **/
#service{
    padding-bottom: 128px;
}
.wrap-more {
	display: flex;
	width: auto;
	max-width: 1320px;
	min-width: 1000px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
#service .text{
    background: #0e72ab;
	background: -webkit-linear-gradient(45deg, #1eb9bb 0%,#0e72ab 100%);
    background: linear-gradient(45deg, #1eb9bb 0%,#0e72ab 100%);
    color: #fff;
}
 .text {
	box-sizing: border-box;
	height: auto;
	padding: 4em 0 4em 0;	
  display: block;

}
.ttl {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    padding: 1em;

}
.ttl::after{
content: '';
	display: block;
	width: 136px;
	height: 1px;
	position: absolute;
	left: 50%;
	bottom: 0;
	background: #fff;
  transform: translateX(-50%);
}
#about .ttl::after{
    width: 101px;
    left: 52px;
}
#magokoro .ttl::after{
    width: 179px;
    left: 91px;
    background:#000;
}
#report .ttl::after{
    width: 102px;
    background:#000;
}
#recruit .ttl::after{
    width: 102px;
    background:#000;
}
#service img{
    width:100%;
    height: 500px;
  }
#about img{
    width: 100%;
    height: 455px;
}

.more a {
	display: block;
	box-sizing: border-box;
	width: 180px;
	height: 40px;
	border: 1px solid;
	position: relative;
	border-radius: 20px;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	transition: .3s;
}

.more a::after {
	content: "\f178";
	position: absolute;
	top: 50%;
	right: 20px;
	font-family: Fontawesome;
	font-weight: normal;
	transform: translateY(-50%);
}
/** About **/
#about{
    background: #3072A6;
	background: -webkit-linear-gradient(45deg, #1eb9bb 0%,#0e72ab 100%);
    background: linear-gradient(45deg, #1eb9bb 0%,#0e72ab 100%);
}
#about .text{
    color: #fff;
}


/** Button Back top **/
#btPageTop.off {
    opacity: 0;
}
#btPageTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: .3s;
}
.more a:hover {
	background: #fff;
	color: #0e72ab;
}
#magokoro .more a:hover {
	color: #fff;
	background: #0e72ab;
}

#magokoro img{
    margin-left: -14px;
    width: 100%;
    height: 100%;
}
#report img{
    width: 100%;
    height: 50%;
}
#report .text{
    
}
#recruit img{
    width: 100%;
    height: 50%;
}
#recruit .text{
    width: 100%;
	padding: 0px;
}
#report .more a:hover {
	color: #fff;
	background: #0e72ab;
}
#recruit .more a:hover {
	color: #fff;
	background: #0e72ab;
}

#rere {
    background: #F2F2F2;
    height: 756px;
}
#rere{
    padding-left: 160px;
    padding-right:120px; 
}

/* Banner */
.banner-box {background: #f5f5f5;}
.banner-box .banner-item {position: relative;}
.banner-box .banner-item .blur-banner {content:''; position: absolute; top:0; bottom:0; width: 100%; left:0; background: #f5f5f5 center no-repeat; background-size: 100% auto; filter: blur(15px); z-index: 1;}
.banner-box .banner-item .image {position: relative; z-index: 2;}
.banner-box .absolute-box {position: absolute; left:50%; right:0; bottom: 108px; z-index: 10;}
.banner-box .absolute-box .container {position: relative; left:0; right:0;}
.banner-box .absolute-box .content-box {background:#295D81; color:#ffff; margin: 0px; padding: 30px 0px; width: 540px;font-family: "Montserrat";font-weight: 700;z-index: -2;opacity:0.8;}
.banner-box .absolute-box .description {font-size: 18px;}
.banner-box .owl-stage .owl-item .image {height:538px; background-position: top center; background-repeat: no-repeat;background-size: auto 100%;}
.banner-box .owl-dots {position: absolute; bottom: 10px; left: 0; right: 0;}
.banner-box .owl-dots .owl-dot {outline: none;}
.banner-box .owl-dots .owl-dot span {width:12px;height:12px;background: transparent; border: 1px solid #d6d6d6;}
.banner-box .owl-dots .owl-dot:hover span {background: transparent; border-color: #0b4da3; box-shadow: 0 0 1px 0px #0b4da3 inset;}
.banner-box .owl-dots .owl-dot.active span {background: #0b4da3; border-color: #0b4da3;}

@media(max-width:33.9em) {
    .navbar .collapse {max-height:250px;width:100%;overflow-y:auto;overflow-x:hidden;}
    .navbar .navbar-brand {float:none;display: inline-block;}
    .navbar .navbar-nav>.nav-item { float: none; margin-left: .1rem;}
    .navbar .navbar-nav {float:none !important;}
    .nav-item{width:100%;text-align:left;}
    .navbar .collapse .dropdown-menu {
      position: relative;
      float: none;
      background:none;
      border:none;
    }
  }

/** Drop down color **/
.dropdown {list-style: none; background:    #333257;  display: inline-block;}
.dropdown .nav-link {color:#fff; text-decoration: none;}
.dropdown .dropdown-menu a{color: #fff; text-decoration: none;}
.dropdown .btn {background: green; color:#fff;}
.dropdown .btn:hover {background: #5C5C76; color:#000;}
.dropdown .btn:active {background: #5C5C76; color:#000;}
.dropdown .btn:focus {background: #5C5C76; color:#000;}
.dropdown-menu .dropdown-item {display: inline-block; width: 100%; padding: 10px 5px;}
.dropdown-menu{
    background-color: #333257;
    color: #fff;
    margin: 0.5rem  0 0;
}
.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #5C5C76;
  border-color: #fff;
}
@media all and (max-width: 640px) {
    #con-tel{
        display: none;
    }
    .tel{
        display: inline;
    }
}
