/** Global class **/
/* body {font-family: Fontawesome} */

.bg-color-light {
    background-color: #0e72ab !important;
}
.bg-line-light{
    background: #ffff !important;
}
.bg-line-dark{
    background:	#000000 !important;
}
.color-text-dark{
    color: #000000 !important;
}
.color-text-light{
    color: #ffff !important;
}
body {
    word-wrap: break-word;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif
}
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.pd-ct{
    padding-top: 80px;
    padding-bottom: 80px;
}
/** line under text **/
.line-under-text{
    display: block;
    height: 1px;
}
.news .row{
    padding: 5px 0px 4px;
}
.news .container{
    padding: 0px 10vw;
}
.bg-line-light{
    background: #ffff;
}
.bg-line-dark{
    background:	#000000;
}
.service .line-under-text{
    width: 140px;
}
.about .line-under-text{
    width: 97px;
}
.magokoro .line-under-text{
    width: 190px;
}
.report .line-under-text{
    width: 94px;
}
.recruit .line-under-text{
    width: 94px;
}
.rere .text{
    border: none;
    background: #ffff;
}
.pd-left{
    padding-left: 60px;
}
.more-pd-bot{
    margin-bottom: 30px!important;
}
.more-pd-top{
    margin-top: 30px!important;
} 


/**contact **/
.contact{
    position: relative;
    margin-top: 15px;
}
.contact a::before {
    content: "\f003";
    position: absolute;
    top: -6px;
    left: 50%;
    font-family: Fontawesome;
    font-size: 23px;
    transform: translateX(-50%);
}
.inline-space{
    height: 66px;
    width: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
    background: #ffff;
}
/** tel **/

/* .contact a {
    display: block;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: .3s;
} */

.pd-serivce{
    padding-left: 60px;
    padding-right: 60px;
}

/** body service **/
.service{
    padding-bottom: 128px;
}
.service .pd-serivce .img-zoom .img-service{
    height: 100%;
    width: 100%;
    background: url(../image/201802/service.png) 50% 0 / cover no-repeat; 
}
.magokoro .img-zoom .img-magokoro{
    height: 100%;
    width: 100%;
    background: url(../image/201802/magokoro.png) 50% 0 / cover no-repeat; 
}
.rere .report .img-zoom .img-report{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background: url(../image/201802/report.png); 
}
.rere .recruit .img-zoom .img-recruit{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background: url(../image/201802/recruit.png); 
}
.about .img-zoom .img-about{
    height: 100%;
    width: 100%;
    background: url(../image/201802/about.jpg) 50% 0 / cover no-repeat; 
}
.wrap-more {
    display: flex;
    width: auto;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
 .text {
	box-sizing: border-box;
	height: auto;
    padding-top:4em;
    padding-bottom: 4em;	
    display: block;

}
p {
    font-size: 14px;
    margin-bottom :0.5rem;
    font-weight: bold;
}
.ttl {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

.about .ttl::after{
    width: 101px;
    left: 52px;
}
.magokoro .ttl::after{
    width: 179px;
    left: 91px;
    background:#000;
}
.report .ttl::after{
    width: 102px;
    background:#000;
}
.recruit .ttl::after{
    width: 102px;
    background:#000;
}

.more a {
	display: block;
    box-sizing: border-box;
    color: #333;
	width: 180px;
	height: 40px;
	border: 1px solid;
	position: relative;
	border-radius: 20px;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	transition: .3s;
}

.more a::after {
	content: "\f178";
	position: absolute;
	top: 50%;
	right: 20px;
	font-family: Fontawesome;
	font-weight: normal;
	transform: translateY(-50%);
}
/** About **/

.about .text{
    color: #fff;
}


/** Button Back top **/
.btPageTop.off {
    opacity: 0;
}
.btPageTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: .3s;
}

.service .more a:hover,.about .more a:hover {
	background: #fff;
	color: #0e72ab;
}
.about .more a,.service .more a{
    color: #ffff;
}
.report .more a:hover ,.recruit .more a:hover,.magokoro .more a:hover{
	color: #fff;
	background: #0e72ab;
}

.magokoro img{
    margin-left: -14px;
    width: 100%;
}
.report img{
    width: 100%;
}
.recruit img{
    width: 100%;
}

.rere, .service {
    background: #F2F2F2;
}
.rere{
    padding-left: 12vw;
    padding-right: 9vw;
}

.rere .text{
    padding-top: 2em;
}

.img-zoom :hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.img-zoom{
    position: relative;
    overflow: hidden;
}
.img-zoom .trans{
    max-width: 100%;
    -moz-transition: transform 5s;
    -webkit-transition: transform 5s;
    transition: transform 5s;
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    transition-duration: 5s;
   
}
.img-zoom img{
    max-width: 100%;
    -moz-transition: transform 5s;
    -webkit-transition: transform 5s;
    transition: transform 5s;
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    transition-duration: 5s;
   
}

/** Drop down color **/

.menu{
    margin-top: -30px;
    padding-left: 163px;
    padding-right: 135px;
    z-index: 1;
    position: relative;
    text-align: center;
}
.menu .row {
    padding-bottom: 7px;
    display: flex;
    width: 100%;
    background: #ffff;
    padding-top: 7px;
}
.menu a{
    color: #000000;
}
.menu img{
    padding-top: 13px;
    padding-bottom: 11px;
}
.menu a:hover{
    text-decoration: none;
    transition: opacity .3s;
}
.menu-boder{
    border-right:1px solid  #DADADA;
}
.team.menu-boder{
    border-right:0px solid #ffff;
}
.sitemap a:hover{
    text-decoration: none;
    color: #0056b3;
}
.sitemap a{
    color : #ffff;
}
.sitemap {
    background-color: #333355;
    padding-top: 40px;
}
.sitemap h5{
    color: #ffff;
}
ul {
    list-style-type: none;
  }
  .carousel-caption{
    padding-top: 2%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators .active {
    background-color: #3072a6;
    margin: 0 4px;
}

#carouselExampleIndicators .carousel-caption {
    position: absolute;
    left: auto;
    width: 40%;
    height: 23%;
    background-color: #4d7fa4;
    opacity: 0.8;
    bottom:15%;
    right:0;
    text-align: left;
    padding-left : 3%;
}
#carouselExampleIndicators .carousel-caption h1{
    font-size : 5vw;
    font-weight: bold;

}
#carouselExampleIndicators .carousel-caption p{
    font-size : 1.5vw;
}
  .carousel :hover{
    cursor: pointer;
  }
  .carousel {
      margin-top: 60px;
  }
  .news a{
    text-decoration: underline;
  }
  .news-timeline p{
    font-size:18px;
}
@media all and (max-width: 998px) {
    #con-tel {
        position: inherit;
    }
}
@media all and (max-width: 576px) {
     .img-zoom .trans{
        height: 200px !important;
    }
    .tel{
        display: inline;
    }
    .pd-ct{
        padding-bottom: 0px;
        padding-top: 0px;    
    }
    .rere{
        padding: 0px;
    }
    .about img{
        width: 100%;
    }
    .more-pd-bot{
        margin-bottom: 1rem!important;
    }
    .more-pd-top{
        margin-top: 1rem!important;
    }
    .text{
        padding-top: 40px;
        padding-bottom: 30px;
        text-align: center;	 
    }
    p{
        font-size: 11px;
    }
    .service {
        padding-bottom: 0px;
        padding-top: 40px;
    }
    .ttl{
        font-size: 20px;
    }
    .line-under-text, .more a{
        margin: auto;        
    }
    .pd-left{
        padding-left: 0px;
    }
    .report{
        padding-top: 29px;
        padding-bottom: 26px;
    }
    .recruit{
        padding-bottom: 30px;
    }
    .pd-serivce {
        padding-left: 0px;
        padding-right: 0px;
    }
    .mail-contact{
        display: none;
    }

    .menu{
        margin: 0 -15px;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        z-index: 1;
        position: relative;
        text-align: center;
    }
    .inline-space{
        display: none;
    }
    .menu .row {
        margin-left: 0px;
    }
    .menu .container{
        padding: 0px ;
    }
    .menu-boder{
        border:1px solid  #DADADA;
    }
    .team.menu-boder{
        border-right:1px solid #ffff;
    }
    .menu .row {
        padding: 0px;
    }
    .menu p{
        margin-bottom: 26px;
    }
    .news .container{
        padding: 0px 0px;
    }
    .news dl dt::after {
        right: 30% !important;
    }
    .news dl dd {
        padding: 0 0 20px 35px !important;
        text-align:left !important;
        font-size :12px !important;
    }
    .news-timeline{
        margin-left: 38px!important;
    }
    .news-timeline p {
        font-size: 14px;
    }
}
