/*** HEADER ***/

.navbar {
    padding: 0px;
}

.bg-navbar {
    background-color: #333355;
}

.navbar .container-fluid {
    padding-left: 100px;
}

.navbar .navbar-brand {
    padding: 0;
    margin-right: 0;
}

.navbar a.navbar-brand img.logo {
    height: 125px;
    transition: all 0.3s ease;
    background-color: #fff;
    top: 0px;
}

.navbar a.navbar-brand,
.navbar .navbar-nav .nav-item .nav-link {
    height: 80px;
}

.navbar .navbar-nav .nav-item .nav-link,
.navbar .navbar-nav .nav-item .dropdown-item {
    font-weight: bold;
    color: #fff;
}

.navbar .navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    font-size: 12px;
}

.navbar .navbar-nav .dropdown {
    list-style: none;
    background: #333257;
    display: inline-block;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
    background-color: #333257;
    color: #fff;
    margin: 0.5rem 0 0;
}

.navbar .navbar-nav .dropdown .dropdown-menu a:hover {
    color: #fff;
    background-color: #5C5C76;
    border-color: #fff;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    min-width: 12rem;
    text-align: left;
}

.navbar .navbar-nav .nav-item .dropdown-menu a.dropdown-item {
    font-weight: bold;
    padding: 1rem 1.5rem;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .navbar-nav .nav-item .dropdown-menu a.dropdown-item:hover {
    background-color: #5C5C76 !important;
}

/* NAVBAR FIXED */

.navbar-main-container.fixed .navbar .container-fluid {
    padding: 0;
}

.navbar-main-container.fixed {
    top: 0;
    right: 0;
    left: 0;
}

.navbar-main-container.fixed .navbar a.navbar-brand,
.navbar-main-container.fixed .navbar .navbar-nav>li>a,
.navbar-main-container.fixed .navbar .navbar-brand .logo {
    height: 60px;
}

.navbar-main-container.fixed a.navbar .navbar-brand .logo {
    position: relative;
    left: 0px;
    top: 0px;
}

/* NAV-SUPPORT */

.navbar .nav-support {
    display: flex;
    align-items: center;
}

.navbar .nav-support .email {
    border-left: #fff solid 1px;
    border-right: #fff solid 1px;
    margin-right: 10px;
}

.navbar .nav-support .email a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #fff;
}

.navbar .nav-support .email a:hover {
    background-color: #5C5C76;
}

.navbar .nav-support .email a img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
}

.navbar .nav-support .tel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-support .tel img {
    margin-right: 10px;
}

.navbar .nav-support .tel a {
    text-decoration: none;
    line-height: 1;
    color: #fff;
}

.navbar .nav-support .tel a .label-tel {
    font-size: 14px;
}

.navbar .nav-support .tel a .number {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.navbar .nav-support .tel a .number h4 {
    display: inline;
    font-weight: bold;
    font-size: 30px;
}

.navbar-main-container.fixed .navbar .nav-support .email a span {
    display: none;
}

.navbar-main-container.fixed .navbar .nav-support .email a img {
    width: 100%;
}

.navbar-main-container.fixed .navbar .nav-support .tel img {
    width: 15%;
}

.navbar-main-container.fixed .navbar .nav-support .tel a .label-tel {
    font-size: 12px;
}

.navbar-main-container.fixed .navbar .nav-support .tel a .number {
    margin: 0;
}

@media (max-width: 420px) {
    .navbar .nav-support .tel a {
        line-height: .7;
    }
    .navbar-main-container.fixed .navbar .nav-support .tel img {
        width: 17%;
    }
    .navbar-main-container.fixed .navbar .nav-support .tel a .label-tel {
        font-size: 8px;
    }
    .navbar .nav-support .tel a .number {
        font-size: 10px;
    }
    .navbar .nav-support .tel a .number h4 {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .navbar .collapse.navbar-collapse.show {
        max-height: 300px;
        overflow: auto;
    }
    .navbar .navbar-toggler {
        height: 60px;
        border: 0;
        border-radius: 0;
    }
    .navbar .navbar-toggler:hover {
        background: #3072a6;
    }
}

/* NEWS */

.news {
    padding: 80px 0 120px;
}

.news .news-title {
    text-align: center;
}

.news .news-title h2.ttl {
    border-bottom: 2px solid #333;
    padding: 0 0 20px;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    line-height: 1;
}

.news dl {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}

.news dl dt:first-child,
.news dl dt:first-child+dd {
    border-top: none;
}

.news dl dt {
    width: 280px;
    position: relative;
    padding: 40px 0 15px;
    font-size: 14px;
}

.news dl dt .button {
    background-color: #0e72ab;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: default;
    border-radius: 13px;
    width: 111px;
}

.news dl dd {
    width: calc(100% - 280px);
    padding: 40px 0 15px;
    font-size: 14px;
    text-align: right;
}

.news .more {
    margin: 75px 0 0;
}

.news .more a {
    border-color: #ccc;
    color: #333;
    display: block;
    box-sizing: border-box;
    width: 180px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid;
    position: relative;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}

.news .more a::after {
    content: "\f178";
    position: absolute;
    top: 50%;
    right: 20px;
    font-family: Fontawesome;
    font-weight: normal;
    transform: translateY(-50%);
}

.news .more a:hover {
    border-color: #0e72ab;
    background: #0e72ab;
    color: #fff;
}

/* CONTACT */

section.contact {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    padding: 60px 6%;
    ;
}

section.contact .info {
    grid-column: span 5;
}

section.contact .email {
    grid-column: span 4;
    margin-left: 36px;
}

section.contact .hotline {
    grid-column: span 4;
    align-self: start;
    display: flex;
    align-items: center;
    padding-left: 36px;
}
section.contact .hotline .number  {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
section.contact .hotline .number h4 {
    display: inline;
    font-weight: bold;
    font-size: 30px;
}
section.contact h4,
section.contact p {
    color: white;
}

section.contact .info h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 15px;
}

section.contact .info p {
    font-size: 14px;
    line-height: 24px;
}

section.contact .email button.btn-contact {
    background: white url(../image/logo/mail-contact.png) no-repeat 35px;
    color: #0e72ab;
    border: 0;
    padding: 15px 8px 15px 43px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    width: 250px;
    text-align: center;
    cursor: pointer;
}

section.contact .hotline button.btn-hotline {
    background: white url('../image/logo/tel-contact.png') no-repeat center;
    border: 0;
    border-radius: 50%;
    color: #0e72ab;
    padding: 23px;
}

section.contact .hotline .hotline-info {
    padding: 0 0 0 15px;
}

section.contact .hotline .hotline-info p.hotline-text {
    font-size: 14px;
    margin-bottom: 0;
}

section.contact .hotline .hotline-info h4.hotline-number {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
}

@media screen and (max-width: 576px) {
    section.contact {
        padding: 40px 5%;
    }
    section.contact .info {
        grid-column: span 13;
        margin-bottom: 20px;
    }
    section.contact .email {
        grid-column: 1/13;
        margin-left: 0;
    }
    section.contact .email button.btn-contact {
        background: white url(../image/logo/mail-contact.png) no-repeat 35px;
        padding: 15px 8px 15px 50px;
        width: 74vw;
    }
    section.contact .hotline {
        grid-column: span 13;
        margin-top: 20px;
        justify-content: center;
        padding-left: 0;
    }
    section.contact .info h4 {
        font-size: 18px;
        line-height: 1;
        margin: 0 0 10px;
    }
    section.contact .info p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
    }
}

/* FOOTER */

footer .sitemap {
    background-color: #333257;
    padding: 100px 0 85px;
}

footer .sitemap h5 {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    color: #fff;
}

footer .sitemap h5 span {
    display: none;
}

footer .sitemap ul.sitemap-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
    color: white;
}

footer .sitemap ul.sitemap-list li.sitemap-list-item a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

footer .copyright {
    background-color: #19192b;
    color: white;
    padding: 30px 0;
    text-align: center;
}

@media (max-width: 576px) {
    .navbar .container-fluid {
        padding-left: 0;
    }
    .navbar .nav-support .email {
        display: none;
    }
}

@media (max-width: 576px) {
    footer .sitemap {
        padding: 0;
    }
    footer .sitemap .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .sitemap .row {
        border: #fff solid 1px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    footer .sitemap .row .col:nth-child(even) {
        border-right: 0;
        border-left: 0;
    }
    footer .sitemap .col {
        padding: 20px 0 20px;
        border: #fff solid 1px;
        border-top: 0;
        border-left: 0;
        margin-bottom: -1px;
    }
    footer .sitemap h5 {
        padding-left: 10%;
    }
    footer .sitemap h5 span {
        display: inline;
        margin-left: 15%;
    }
    footer .sitemap ul.sitemap-list {
        display: none;
    }
    footer .copyright {
        padding: 15px 0 20px;
    }
}