.service-detail .head-menu { background-color: #f2f2f2; }
.service-detail .head-menu ul { overflow: auto; }
.service-detail .head-menu ul::-webkit-scrollbar { display: none; }
.service-detail .head-menu ul li a { white-space: nowrap; height: 40px; color: #4C4C4C; text-decoration: none; border-right: #A3A3A3 solid 2px; }
.service-detail .head-menu ul li a:hover { color: #fd6a2e; }
.service-detail .head-menu ul li:last-child a { border-right: 0; }
.service-detail .grid-container { display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(13, 1fr); grid-column-gap: 60px; grid-template-areas: "s1     s3"  "s1     s3"  "s1     s3"  "s1     s3"  "s1     s4"  "s1     s4"  "s1     s4"  "s2     s4"  "s2     s4"  "s2     s5"  "s2     s5"  "s2     s5"  "s2     s5"  "s2     s5"; }
.service-detail .grid-container .service01 { grid-area: s1; }
.service-detail .grid-container .service02 { grid-area: s2; }
.service-detail .grid-container .service03 { grid-area: s3; }
.service-detail .grid-container .service04 { grid-area: s4; }
.service-detail .grid-container .service05 { grid-area: s5; }
.service-detail .grid-container .service01 p, .service-detail .grid-container .service02 p, .service-detail .grid-container .service03 p, .service-detail .grid-container .service04 p, .service-detail .grid-container .service05 p { line-height: 200%; color: #4C4C4C; }
.service-detail .topic { border-bottom: #A8A8A8 solid 1px; border-top: #A8A8A8 solid 1px; margin-bottom: -1px; margin-top: -1px; }
.service-detail .topic .title { background-color: #f2f2f2; }
.service-detail .topic .title, .service-detail .topic .content { padding-top: 15px; padding-bottom: 15px; }
.service-detail .topic .title p, .service-detail .topic .content p { margin-bottom: 0; font-size: 18px; color: #4C4C4C; }
@media screen and (max-width: 576px) { .service-detail h1 { font-size: 26px; }
  .service-detail h2 { font-size: 20px; }
  .service-detail h1, .service-detail h2 { color: #4C4C4C; } }
@media screen and (min-width: 576px) { .service-detail .topic .content { border-bottom: #A8A8A8 solid 1px; border-top: #A8A8A8 solid 1px; margin-bottom: -1px; margin-top: -1px; }
  .service-detail .topic .title p, .service-detail .topic .content p { font-size: 14px; color: #4C4C4C; } }
@media screen and (max-width: 768px) { .service-detail .topic { border: #A8A8A8 solid 1px; }
  .service-detail .topic .content { border-bottom: #A8A8A8 solid 1px; border-top: #A8A8A8 solid 1px; margin-bottom: -1px; }
  .service-detail .topic .title p, .service-detail .topic .content p { font-size: 14px; } }

.service-support .wrap { width: 100%; border-top: #f2f2f2 solid 5px; padding: 0 15px; display: grid; grid-column-gap: 15px; }
.service-support .wrap .support { max-width: 100%; padding: 0; }
.service-support .wrap .support a { background-color: #f2f2f2; text-decoration: none; color: #4C4C4C; }
.service-support .wrap .support a:hover { background-color: #1171ab; color: #fff; }
@media screen and (max-width: 576px) { .service-support { padding: 0 15px; }
  .service-support .wrap { padding: 0; border-top: #A8A8A8 solid 1px; grid-template-columns: 1fr 1fr; }
  .service-support .wrap .support { height: 60px; }
  .service-support .wrap .support a { padding-left: 10px; padding-right: 5px; font-size: 14px; } }
@media screen and (min-width: 576px) { .service-support .wrap { grid-template-columns: 1fr 1fr; }
  .service-support .wrap .support { height: 70px; }
  .service-support .wrap .support a { padding-left: 15px; padding-right: 7px; font-size: 16px; } }
@media screen and (min-width: 768px) { .service-support .wrap { grid-template-columns: repeat(4, 1fr); } }

/*# sourceMappingURL=s-detail.css.map */
