$font-color: #4C4C4C;
$path-color: #A8A8A8;
.service-detail {
    .head-menu {
        background-color: #f2f2f2;
        ul {
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            li {
                a {
                    white-space: nowrap;
                    height: 40px;
                    color: $font-color;
                    text-decoration: none;
                    border-right: #A3A3A3 solid 2px;
                    &:hover {
                        color: #fd6a2e;
                    }
                }
                &:last-child a {
                    border-right: 0;
                }
            }
        }
    }
    .topic {
        border-bottom: $path-color solid 1px;
        border-top: $path-color solid 1px;
        margin-bottom: -1px;
        margin-top: -1px;
        .title {
            background-color: #f2f2f2;
        }
        .title,
        .content {
            padding-top: 15px;
            padding-bottom: 15px;
            p {
                margin-bottom: 0;
                font-size: 18px;
                color: $font-color;
            }
        }
    }
    p {
        line-height: 200%;
    }
    @media screen and (max-width: 576px) {
        .service-col-1 {
            .service01 {
                margin-bottom: 50px;
            }
            .service03 {
                margin-bottom: 50px;
            }
        }
        .service-col-2 {
            margin-bottom: 50px;
            .service04 {
                margin-top: 50px;
                img:last-of-type {
                    margin-top: 50px;
                }
            }
        }
        & {
            .topic {
                border: $path-color solid 1px;
                .content {
                    border-bottom: $path-color solid 1px;
                    border-top: $path-color solid 1px;
                    margin-bottom: -1px;
                    margin-top: -1px;
                }
                .title,
                .content {
                    p {
                        font-size: 14px;
                        color: $font-color;
                    }
                }
            }
            h1 {
                font-size: 26px;
            }
            h2 {
                font-size: 20px;
            }
            h1,
            h2 {
                color: $font-color;
            }
        }
    }
    @media screen and (min-width: 576px) {
        .service-col-1 {
            .service01 {
                margin-bottom: 50px;
            }
            .service03 {
                margin-bottom: 50px;
            }
        }
        .service-col-2 {
            margin-bottom: 50px;
            .service04 {
                margin-top: 50px;
                img:last-of-type {
                    margin-top: 50px;
                }
            }
        }
        & {
            .topic {
                border: $path-color solid 1px;
                .content {
                    border-bottom: $path-color solid 1px;
                    border-top: $path-color solid 1px;
                    margin-bottom: -1px;
                    margin-top: -1px;
                }
                .title,
                .content {
                    p {
                        font-size: 14px;
                        color: $font-color;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        .service-col-1 {
            .service01 {
                margin-bottom: 100px;
                padding-right: 30px;
            }
            .service03 {
                padding-left: 30px;
            }
        }
        .service-col-2 {
            .service02 {
                padding-right: 30px;
            }
            .service04 {
                padding-left: 30px;
                margin-top: -250px;
                img:last-of-type {
                    margin-top: 100px;
                }
            }
        }
        & {
            .topic {
                border-left: 0;
                border-right: 0;
            }
        }
    }
}

.service-support {
    .wrap {
        width: 100%;
        border-top: #f2f2f2 solid 5px;
        padding: 0 15px;
        display: grid;
        grid-column-gap: 15px;
        .support {
            max-width: 100%;
            padding: 0;
            a {
                background-color: #f2f2f2;
                text-decoration: none;
                color: #4C4C4C;
                &:hover {
                    background-color: #1171ab;
                    color: #fff;
                }
            }
        }
    }
    @media screen and (max-width: 576px) {
        & {
            padding: 0 15px;
        }
        .wrap {
            padding: 0;
            border-top: $path-color solid 1px;
            grid-template-columns: 1fr 1fr;
            .support {
                height: 60px;
                a {
                    padding-left: 10px;
                    padding-right: 5px;
                    font-size: 14px;
                }
            }
        }
    }
    @media screen and (min-width: 576px) {
        .wrap {
            grid-template-columns: 1fr 1fr;
            .support {
                height: 70px;
                a {
                    padding-left: 15px;
                    padding-right: 7px;
                    font-size: 16px;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        .wrap {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media screen and (min-width: 992px) {
        .wrap {}
    }
}